@fa-font-path: "/bower_components/font-awesome/fonts";
@import "/bower_components/font-awesome/less/font-awesome";
@import "shared.less";
@import "splash.less";
@import "home.less";
@import "two-page-layout.less";

@containerWidth: 1024px;
@containerPaddingTop: 32px;

@pageTitleColor: @green;
@pageTitleSize: 40px;
@pageDescriptionSize: 16px;
@pageSectionPadding: 16px;
@infoDescriptionWidth: 391px;

html, body {
    height: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* index.html ui-view container */
.content {
    height: 100%;
}

/* home.html inner container */
.home-container {
    margin: 0 auto;
    padding: @containerPaddingTop 0 @containerPaddingTop 0;
    width: @containerWidth;
}

/* home.html outer container */
#home-view {
    height: 100%;

    .ordered.steps {
        counter-reset: ordered;
    }

    .steps {
        display: table;
        font-size: 0;
        background: 0 0;
        line-height: 1.142rem;
        box-sizing: border-box;
        border-radius: .02857rem;
        width: 100%;
        margin-bottom:25px;
    }

    .steps .step:first-child {
        padding-left: 1.5em;
        border-radius: .2857rem 0 0 .2857rem;
    }

    .step, .steps .step {
        font-size: 1rem;
    }

    .steps .step {
        width: 33.3%;
        display: table-cell;
        position: relative;
        margin: 0;
        padding: 1.285em 1.5em 1.285em 2.25em;
        vertical-align: middle;
        background: #fff;
        color: rgba(0,0,0,.8);
        box-shadow: 0 0 0 1px rgba(39,41,43,.15);
        border-radius: 0;
        color: #777;
    }

    .ordered.steps .step:before {
        display: table-cell;
        position: static;
        vertical-align: middle;
        padding-right: .6em;
        font-size: 2em;
        counter-increment: ordered;
        content: counters(ordered,".");
    }

    .steps .step:after {
        position: absolute;
        z-index: 2;
        content: '';
        top: 50%;
        right: 0;
        border: none;
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-bottom: 1px solid rgba(39,41,43,.15);
        border-right: 1px solid rgba(39,41,43,.15);
        -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
        -ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
        transform: translateY(-50%) translateX(50%) rotate(-45deg);
    }

    .steps .step:last-child {
        margin-right: 0;
    }
    .steps .step:last-child {
        border-radius: 0 .2857rem .2857rem 0;
    }

    .steps .step:last-child:after {
        display: none;
    }

    .ordered.steps .step>* {
        display: table-cell;
        vertical-align: middle;
    }

    .steps .step .title {
        font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
        font-size: 1.0714em;
        font-weight: 700;
    }

    .steps .step .title~.description {
        margin-top: .1em;
    }

    .steps .step .description {
        font-weight: 400;
        font-size: .9285em;
        color: rgba(0,0,0,.8);
    }

    .steps .step.active .title {
        color: rgba(0,0,0,.85);
    }

    .steps .step.active {
        cursor: auto;
        background: #f0f0f0;
    }

    .steps .step.active:after {
        background: #f0f0f0;
    }

    .ordered.steps .step.active:before{
        color: rgba(0,0,0,.85);
    }

    :after, :before {
        box-sizing: border-box;
    }

    .registration label {

        font-size: 1.3rem;

        color: #777;
    }

    .registration .form-control {
        width:200px;
        margin-left: 20px;
    }

    h1.title {
        color:#777;
        margin:  40px 0 30px 0;
    }

    h1.title:hover {
        color:lighten(#777, 20%);
        transition: color 0.5s ease;
        margin:  40px 0 30px 0;
    }

.update-form label {
    width: 100%;
}

.update-form > .form-group {
    width: 45%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.update-form > .form-group > input {
    width: 100%;
}

}


// override colors of bootstrap
.alert-danger {
  color: #FFFFFF;
  background-color: #d64242;
  border-color: #d64242;
}


.toast-top-center {
  top: 12px;
}

#toast-container.toast-center,
#toast-container.toast-top-center,
#toast-container.toast-bottom-center{
  width: 100%;
}
#toast-container.toast-center > div,
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div{
  margin: auto;
}

.tableViewHeader {
    padding: 0;
    margin: 0 0 12px 0;
    color: @green;
    font-weight: normal;
    font-size: 24px;
}

.tableView {
    margin: 16px 0 16px 0;
    color: @black;

    p {
        margin: 2px;
        padding: 0;
    }

    .elementTitle,
    .elementTitle a,
    .elementTitle a:hover {
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: bolder;
        color: @green;
    }

    .iconBox {
        text-align: center;
    }

    .iconBox .group-icon {
        width: 16px;
    }

    .elementDescription {
        margin-bottom: 8px;
    }
}

.tableViewRow {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tableImageContainer {
    width: 128px;
    height: 128px;
    background-color: fade(@gray, 10%);
    text-align: center;
}

.tableDescription {
    width: @containerWidth - 384px;
    padding: 8px;
    vertical-align: top;
    font-size: 12px;
}

.tableViewButtons {
    width: 256px;
    text-align: right;
}

.btn-join,
.btn-join:hover {
    color: @green;
    border-color: @green;
}

.btn-join:hover {
    background-color: fade(@green, 10%);
}

.btn-leave,
.btn-leave:hover {
    color: @orange;
    border-color: @orange;
}

.btn-leave:hover {
    background-color: fade(@orange, 10%);
}

.btn-join:disabled,
.btn-leave:disabled {
    color: @gray;
}

.btn-delete,
.btn-delete:hover {
    color: @red;
    border-color: @red;
}

.btn-delete:hover {
    background-color: fade(@red, 10%);
}

.btn-add {
    margin-bottom: 16px;
}

textarea {
    resize: none;
}

.siteCoverContainer {
    position: relative;
    margin-top: -@containerPaddingTop;
    width: 100%;
    height: 192px;
    background-color: fade(@gray, 10%);
    text-align: left;

    &::before {
        display: none;
        position: absolute;
        bottom: 0;
        width: @containerWidth;
        height: 44px;
        background-color: @black;
        content: '';
        opacity: 0.1;
    }
}

.coverTitle {
    position: absolute;
    padding-left: 8px;
    bottom: 0;
    font-size: 32px;
    color: white;
    text-shadow: 0px 0px 8px rgba(0,0,0,.3);
}

.siteDescription {
    padding-left: 8px;
    padding-bottom: 8px;
    margin: 16px 0 16px 0;
    border-bottom: 1px solid fade(@gray, 20%);
    color: @black;
    font-size: 18px;
}

.groupInfo {
    padding-left: 8px;
    padding-right: 8px;
    margin: 16px 0 16px 0;
    border-bottom: 1px solid fade(@gray, 20%);
    color: @black;
}

.groupInfo .groupInfoTitle {
    color: @gray;
    font-weight: bolder;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 8px 0;
    padding: 0;
}

.groupInfoElementDesc.icon {
    display: inline;
    background-color: yellow;
}

.groupInfoElementDesc.info {
    display: inline;
    background-color: red;
}

.isDeleted {
  opacity: .5;
}
