@import "splash.less";

/* JA Worldwide Styling Guidelines 
/* http://media.wix.com/ugd/b507ca_d0cac8808d0c4d748e94b103e9e2c184.pdf
 */

/* Primary color palette */
@green:       rgb(0,118,61);
@orange:      rgb(239,121,12);
@black:       #666;
@gray:        #b2b2b2;

/* Secundary color palete */
@lightGreen:  rgb(127,189,54);
@lightOrange: rgb(249,170,7);
@lightYellow: rgb(255,243,82);
@mediumGreen: rgb(111,183,43);

html, body {
    height: 100%;
    font-size: 14px;    
    margin: 0;
    padding: 0;    
}

.content {
    height: 100%;
}

#home-view{
    height: 100%;
    background: url('http://static.colourlovers.com/images/v4.0/_/bg.png');
    margin-top: 9px;

    .colorbar {
        z-index: 999;
        position: fixed;
        width: 100%;
        top: 0px;
        height: 9px;
    }

    .o1 {
        width: 11.85789726356217%;
        height: 100%;
        float: left;
        background-color: #e87000;    
    }

    .hg1 {
        width: 5.928948631781085%;
        height: 100%;
        float: left;
        background-color: #b8d51b;
    }

    .dg1 {
        width: 14.13826212193951%;
        height: 100%;
        float: left;
        background-color: #63b531;
    }

    .o2 {
        width: 6.265002400384062%;
        height: 100%;
        float: left;
        background-color: #f29a01;
    }

    .dg2 {
        width: 16.68266922707633%;
        height: 100%;
        float: left;
        background-color: #33a444;
    }

    .hg2 {
        width: 5.760921747479597%;
        height: 100%;
        float: left;
        background-color: #b8d51b;
    }

    .o3 {
        width: 39.366298607777246%;
        height: 100%;
        float: left;
        background-color: #e68701;
    }


    .ordered.steps {
        counter-reset: ordered;
    }

    .steps {
        display: inline-block;
        font-size: 0;
        background: 0 0;
        line-height: 1.142rem;
        box-sizing: border-box;
        border-radius: .02857rem;
        width: 100%;
        margin-bottom:25px;
    }

    .steps .step:first-child {
        padding-left: 1.5em;
        border-radius: .2857rem 0 0 .2857rem;
    }

    .step, .steps .step {
        font-size: 1rem;
    }

    .steps .step {
        width: 33.3%;
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 1.285em 1.5em 1.285em 2.25em;
        vertical-align: top;
        background: #fff;
        color: rgba(0,0,0,.8);
        box-shadow: 0 0 0 1px rgba(39,41,43,.15);
        border-radius: 0;
        color: #777;
    }

    .ordered.steps .step:before {
        display: table-cell;
        position: static;
        padding-right: .6em;
        font-size: 2em;
        counter-increment: ordered;
        content: counters(ordered,".");
    }

    .steps .step:after {
        position: absolute;
        z-index: 2;
        content: '';
        top: 50%;
        right: 0;
        border: none;
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-bottom: 1px solid rgba(39,41,43,.15);
        border-right: 1px solid rgba(39,41,43,.15);
        -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
        -ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
        transform: translateY(-50%) translateX(50%) rotate(-45deg);
    }


    .steps .step:last-child {
        margin-right: 0;
    }
    .steps .step:last-child {
        border-radius: 0 .2857rem .2857rem 0;
    }

    .steps .step:last-child:after {
        display: none;
    }

    .ordered.steps .step>* {
        display: table-cell;
        vertical-align: middle;
    }

    .steps .step .title {
        font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
        font-size: 1.0714em;
        font-weight: 700;
    }

    .steps .step .title~.description {
        margin-top: .1em;
    }

    .steps .step .description {
        font-weight: 400;
        font-size: .9285em;
        color: rgba(0,0,0,.8);
    }


    .steps .step.active .title {
        color: rgba(0,0,0,.85);
    }

    .steps .step.active {
        cursor: auto;
        background: #f0f0f0;
    }    

    .steps .step.active:after {
        background: #f0f0f0;
    }    

    .ordered.steps .step.active:before{
        color: rgba(0,0,0,.85);
    }    

    :after, :before {
        box-sizing: border-box;
    }


    .registration label {

        font-size: 1.3rem;

        color: #777;
    }

    .registration .form-control {
        width:200px;
        margin-left: 20px;
    }

    .checkbox-row {
        display: block;
        padding-left: 25px;
        font-size: 1.1rem;
    }

    .checkbox-row input {
        margin: 4px 7px 0px 7px;
    }


    .btn-checkbox{
        border-color: #FFFFFF;
        color: #FFFFFF;
        background-color: #63B531;    
    }


    .btn-checkbox:active,
    .btn-checkbox.active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 1);
      background-color: #333333;
    }

    .btn-checkbox:active:hover,
    .btn-checkbox.active:hover {
      background-color: #444444;
    }



    .btn-checkbox:hover{
        color: #FFFFFF;
        background-color: #33A444;    
    }


    .btn-green {
        color: #fff;
        background-color: #7FBD36;
        border-color: #7FBD36;
    }

    .btn-green:hover {

        background-color: #95C956;

    }

    input[type=text],select, textarea, 
    input[type=date],select, textarea {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        border: 1px solid #DDDDDD;
        background-color: #FAFAFA;
    }
     
    input[type=text]:focus, textarea:focus, 
    input[type=date]:focus, textarea:focus {
      box-shadow: 0 0 5px rgba(184, 213, 27, 1);
      border: 1px solid rgba(184, 213, 27, 1);
    }

    h1.title {
        color:#777;
        margin:  40px 0 30px 0;
    }

    h1.title:hover {
        color:lighten(#777, 20%);
        transition: color 0.5s ease;
        margin:  40px 0 30px 0;
    }

.update-form label {
    width: 100%;
}

.update-form > .form-group {
    width: 45%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.update-form > .form-group > input {
    width: 100%;
}

#update-submit-btn {
    margin-top: 8px;
}

}
