/* JA Worldwide Styling Guidelines 
/* http://media.wix.com/ugd/b507ca_d0cac8808d0c4d748e94b103e9e2c184.pdf
 */

/* Primary color palette */
@green: rgb(0,118,61);
@orange: rgb(239,121,12);
@black: rgba(0,0,0,0.6);
@gray: rgba(0,0,0,0.3);

/* Secundary color palete */
@lightGreen: rgb(127,189,54);
@lightOrange: rgb(249,170,7);
@lightYellow: rgb(255,243,82);
@mediumGreen: rgb(111,183,43);

#jo {
  font-size: 55px;
  color: @gray;
}