<div  class="change-password"
      md-theme="profile"
      layout="column" layout-fill>

  <md-toolbar class="md-tall">
      <span flex></span>
      <h3 class="content md-toolbar-tools">
        <span class="md-flex title">Change Password</span>
        <span flex></span>
      </h3>

  </md-toolbar>

  <md-card>
    <md-progress-linear md-mode="query" ng-disabled="$ctrl.notQuering" ></md-progress-linear>

    <md-card-content>

      <form name="changePasswordForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>New Password</label>
            <input type="password" required minlength="8" name="password"
                  ng-model="$ctrl.changePasswordForm.password">
            <div ng-messages="changePasswordForm.password.$error">
              <div ng-message="required">New Password is required.</div>
              <div ng-message="minlength">The length of the password should be at least 8.</div>
            </div>
          </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>
          
          <md-input-container class="md-block" flex-gt-sm>
            <label>Confirm Password</label>
            <input type="password" required name="confirmPassword" 
                    match="$ctrl.changePasswordForm.password"
                    ng-model="$ctrl.changePasswordForm.password_confirmation">
            <div ng-messages="changePasswordForm.confirmPassword.$error">
              <div ng-message="match">Confirm Password doesn't match password.</div>
              <div ng-message="required">Confirm Password is required.</div>
            </div>
          </md-input-container>
        </div>
      </form>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-disabled="changePasswordForm.$invalid"
                 ng-click="$ctrl.changePassword()">Save</md-button>
      <md-button ng-click="$ctrl.cancelChangePassword()">Cancel</md-button>
    </md-card-actions>
  </md-card>

</div>
