<div class="event" md-theme="events" layout="column" layout-fill>

  <md-toolbar class="md-tall">
      <span flex></span>
      <h3 class="content md-toolbar-tools">
        <span class="md-flex title">Event</span>
        <span flex></span>

        <md-button class="md-fab md-hue-2" aria-label="Edit">  
            <md-icon md-font-set="material-icons"> mode_edit </md-icon>        
        </md-button>

      </h3>

  </md-toolbar>

  <md-card>
    <img ng-src="http://www.jaeurope.org/images/site1/events/JA_Alumni_Conference_formatted.jpg" class="md-card-image" alt="Washed Out">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">JA Alumni Leadership Conference</span>
        <span class="md-subhead">Stuttgart, Germany</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <form name="signinForm">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex>
            <label>Where</label>
            <input type="text"
                    disabled
                   name="location" ng-model="project.email">
          </md-input-container>

          <md-input-container class="md-block" flex>
            <label>Agenda</label>
            <input type="email"
                   disabled
                   name="email"  ng-model="project.email">
          </md-input-container>

        </div>

        <md-input-container class="md-block">
          <label>Etc.</label>
          <input type="email"
                 disabled
                 name="email"  ng-model="project.email">
        </md-input-container>

      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-accent">participate</md-button>
      <md-button class="md-raised md-accent">attend</md-button>
    </md-card-actions>
  </md-card>

</div>
