  <md-dialog-content class="md-dialog-content">
    
    <h2 class="md-title">Add Plan</h2>
    
    <form name="plan.form" novalidate>
      <md-input-container class="md-block" flex>
        <label>Name</label>
        <input required name="name" ng-model="$ctrl.currentPlan.name" required>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>Price</label>
        <input required name="price" ng-model="$ctrl.currentPlan.price">
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>Description</label>
        <input name="description" ng-model="$ctrl.currentPlan.description">
      </md-input-container>

      <md-input-container class="md-block" flex>
        <md-switch name="default" ng-model="$ctrl.currentPlan.default" aria-label="Default">
          Default
        </md-switch>      
      </md-input-container>   

    </form>
    
  </md-dialog-content>
  
  <md-dialog-actions>
    <md-button  class="md-primary" 
                ng-click="$ctrl.save($ctrl.currentPlan)" ng-disabled="plan.form.$invalid">Add</md-button>
    <md-button class="md-primary" ng-click="$ctrl.cancel()">Cancel</md-button>
  </md-dialog-actions>
  
