<!-- This template is returned by the alumniSearch directive. -->
<div ng-controller="searchCtrl">
  <form
    ng-submit="search()"
    name="searchForm">
    <input ng-model="searchText" name="searchText" type="text" />
    <button
      ng-disabled="searchForm.searchText.$pristine || searchText === ''"
      type="submit"
      name="submit">Search</button>
    <button type="button" ng-click="resetSearch()">Reset</button>
  </form>
  <h3>Pro-tipp:</h3>
  <p>Scroll to the bottom of this page to see more results...</p>
  <alumni-search-results></alumni-search-results>
</div>
