<div  class="user"
      md-theme="home"
      layout="column" layout-fill>

  <md-toolbar class="md-tall">
      <span flex></span>
      <h3 class="content md-toolbar-tools">
        <span class="md-flex title">Profile</span>
        <span flex></span>

        <md-button ng-click="$ctrl.editProfile()"
                   ng-show="$ctrl.showEdit()" class="md-fab md-hue-2" aria-label="Edit">  
            <md-icon md-font-set="material-icons"> mode_edit </md-icon>
        </md-button>

      </h3>

  </md-toolbar>

  <md-card>
    <img ng-src="{{$ctrl.user.cover.url}}" class="md-card-image" alt="Washed Out">

    <section  class="connections"
              layout="row"
              layout-align="end center"
              layout-wrap>
        <md-button 
          ng-href="{{ $ctrl.user.facebook_url }}"
          ng-show="$ctrl.user.facebook_url"          
          class="md-fab md-mini" aria-label="Facebook">
          <md-icon md-font-set="fa" md-font-icon="fa-facebook"></md-icon>
        </md-button>
        <md-button 
          ng-href="skype:{{ $ctrl.user.skype_id }}?call"
          ng-show="$ctrl.user.skype_id"
          class="md-fab md-mini" aria-label="Skype">
          <md-icon md-font-set="fa" md-font-icon="fa-skype"></md-icon>
        </md-button>
        <md-button 
          ng-href="{{ $ctrl.user.twitter_url }}"
          ng-show="$ctrl.user.twitter_url"
          class="md-fab md-mini" aria-label="Twitter">
          <md-icon md-font-set="fa" md-font-icon="fa-twitter"></md-icon>
        </md-button>
        <md-button
          ng-href="{{ $ctrl.user.linkedin_url }}"
          ng-show="$ctrl.user.linkedin_url"
          class="md-fab md-mini" aria-label="Twitter">
          <md-icon md-font-set="fa" md-font-icon="fa-linkedin"></md-icon>
        </md-button>
    </section>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ $ctrl.user.fullname }}</span>
        <span class="md-subhead">{{ $ctrl.user.short_bio }}</span>
  
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media">
          <img ng-src="{{$ctrl.user.avatar.url}}" class="md-media-lg card-media" alt="Washed Out">
        </div>
      </md-card-title-media>
    </md-card-title>

    <md-card-content>
      <form name="signinForm">


        <h3 class="md-subhead">JA-YE</h3>
        
        <!-- 4 row -->

        <div layout-gt-sm="row">
          <div
              class="md-block"
              layout="row"
              layout-align="start center" flex-gt-sm>
              <p style="padding: 0px 15px 0px 0px;">
                Which JA-YE Program did you participate in?
              </p>
              <md-radio-group 
                layout="row"
                layout-align="start center"
                ng-model="$ctrl.user.program_type"
                disabled
                name="program_type">
                <md-radio-button disabled value="0">Company</md-radio-button>
                <md-radio-button disabled value="1">Startup</md-radio-button>
                <md-radio-button disabled value="2">Other</md-radio-button>
              </md-radio-group>
          </div>

        </div>

        <!-- 5 row -->

        <div layout-gt-sm="row">
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>In which country did you participate?</label>
              <input type="text"
                     disabled
                     name="country_of_participation" ng-model="$ctrl.user.country_of_participation">
          </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>

          <md-input-container class="md-block" flex-gt-sm>
            <label>At which school or university did you participate?</label>
            <input
                  name="institution"
                  ng-model="$ctrl.user.institution"
                  disabled
                  required/>

          </md-input-container>

        </div>

        <!-- 5 row -->
        <div layout-gt-sm="row">
        
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>In which year did you participate?</label>
              <input
                    name="year_of_participation"
                    disabled
                    ng-model="$ctrl.user.year_of_participation"
                    required/>              
          </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>

          <md-input-container class="md-block" flex-gt-sm>
            <label>What was the name of your student company?</label>
            <input
                  name="student_company_name"
                  ng-model="$ctrl.user.student_company_name"
                  disabled
                  required/>
          </md-input-container>
        </div>

        <!-- 6 row -->

        <h3 class="md-subhead">Alumni</h3>

        <div layout-gt-sm="row">
        
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>Member since</label>
              <input
                    name="year_of_participation"
                    disabled
                    ng-model="$ctrl.user.member_since"/>              
          </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Position</label>
            <input
                  name="student_company_name"
                  ng-model="$ctrl.user.alumni_position"
                  disabled/>
          </md-input-container>
        </div>

        <!-- 1 row -->
        <h3 class="md-subhead">Personal</h3>

        <div layout-gt-sm="row">
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>Birthday</label>              
              <input type="text"
                     disabled
                     name="birthday"  ng-model="$ctrl.user.date_of_birth">
          </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>
          <md-input-container 
              class="md-block" flex-gt-sm>
              <md-radio-group 
                layout="row"
                layout-align="start center"
                ng-model="$ctrl.user.gender"
                name="gender">
                <md-radio-button disabled value="1">Female</md-radio-button>
                <md-radio-button disabled value="0">Male</md-radio-button>
              </md-radio-group>
          </md-input-container>
        </div>


        <!-- 2 row -->

        <div layout-gt-sm="row">
        
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>Country</label>
              <input type="text"
                     disabled
                     name="country"  ng-model="$ctrl.user.country">
          </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>
          
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>City</label>
              <input type="text"
                     disabled
                     name="city"  ng-model="$ctrl.user.city">
          </md-input-container>

        </div>

        <!-- 3 row -->

        <div layout-gt-sm="row">
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>University Major</label>
              <input type="text"
                     disabled
                     name="university_major"  ng-model="$ctrl.user.university_major">
          </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>University Name</label>
              <input type="text"
                     disabled
                     name="university_name" ng-model="$ctrl.user.university_name">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>Founded startups</label>
              <textarea disabled ng-model="$ctrl.user.founded_company_name" rows="3"></textarea>              
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>Job position</label>
              <input type="text"
                     disabled
                     name="current_job_position"  ng-model="$ctrl.user.current_job_position">
          </md-input-container>

          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>Working place</label>
              <input type="text"
                     disabled
                     name="current_company_name" ng-model="$ctrl.user.current_company_name">
          </md-input-container>
        </div>


        <div layout-gt-sm="row">
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>Interests</label>
              <textarea disabled ng-model="$ctrl.user.interests" rows="5"></textarea>
          </md-input-container>
        </div>

        <h3 class="md-subhead">Connection</h3>

        <div layout-gt-sm="row">
          <md-input-container 
              class="md-block" flex-gt-sm>
              <label>Mobile Phone</label>
              <input type="text"
                     disabled
                     name="mobile_phone"  ng-model="$ctrl.user.mobile_phone">
          </md-input-container>
        </div>


      </form>
    </md-card-content>
    <md-card-actions ng-show="false" layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
  </md-card>

</div>
