<div  class="events"
      md-theme="events"
      layout="column" layout-fill>

  <md-toolbar class="md-tall">
      <span flex></span>
      <h3 class="content md-toolbar-tools">
        <span class="md-flex title">Events</span>
        <span flex></span>

        <md-button class="md-fab md-hue-2" aria-label="Edit">  
            <md-icon md-font-set="material-icons"> add </md-icon>
        </md-button>

      </h3>

  </md-toolbar>

  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <img ng-src="http://www.jaeurope.org/images/site1/events/JA_Alumni_Conference_formatted.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">JA Alumni Leadership Conference</span>
            <span class="md-subhead">Stuttgart, Germany</span>            
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
              JA Alumni Leadership Conference "Mobility in the Future" is the network's main event of the year bringing together the most entrepreneurial alumni from all across Europe....
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button  aria-label="Settings">
            Details
          </md-button>          
          <md-button class="md-icon-button" aria-label="share">
            <md-icon md-font-set="material-icons"> share </md-icon>
          </md-button>
        </md-card-actions>
      </md-card>

    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <img ng-src="http://www.jaeurope.org/images/site1/events/COYC_formatted_final.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">JA Europe Company of the Year Competition (COYC)</span>
            <span class="md-subhead">Lucerne, Switzerland</span>            
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            In Lucerne, all of the JA organisations in Europe will celebrate their best 200+ young entrepreneurs. A high-level panel of 10 judges will examine the contestants...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button  aria-label="Settings">
            Details
          </md-button>          
          <md-button class="md-icon-button" aria-label="share">
            <md-icon md-font-set="material-icons"> share </md-icon>
          </md-button>
        </md-card-actions>
      </md-card>

    </div>

  </md-content>

</div>
