<div class="registration" layout="column" layout-align="center center">
  <header>
    <logo></logo>
  </header>

  <md-card flex="nogrow" style="width: 800px; margin: 40px auto">

    <md-stepper-card-content class="md-no-padding">
      <md-steppers 
          md-dynamic-height
          md-disable-tabs-behavior="true"
          md-stretch-steppers="always"
          md-selected="selected"
          md-stretch-steppers="always">
          <md-step label="Step 1">
            <md-step-body>
                <form name="step1" 
                      ng-submit="vm.submitCurrentStep(vm.stepData[0].data)">
                    <div class="md-padding">
                        <div layout="row" layout-align="center top">
                            <div flex="nogrow" style="width: 400px">
                                <h4>Please enter your user name and password</h4>
                                <md-input-container class="md-block">
                                    <label>Your user name here</label>
                                    <input  ng-disabled="vm.stepData[0].data.completed" 
                                            name="username"
                                            ng-model="vm.stepData[0].data.username" required/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Your password here</label>
                                    <input  ng-disabled="vm.stepData[0].data.completed"        type="password" 
                                            name="username"
                                            ng-model="vm.stepData[0].data.password" required/>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <md-step-actions layout="row">
                        <div flex layout="row" layout-align="end top">
                            <md-button  class="md-warn">CANCEL</md-button>
                            <md-button  type="submit"
                                        class="md-primary md-raised">NEXT</md-button>
                        </div>
                    </md-step-actions>
                </form>
            </md-step-body>
          </md-step>
          <md-step label="Step 2">
              <md-content>asdwq</md-content>
          </md-step>
          <md-step label="Finish">
              <md-content>qweas</md-content>
          </md-step>
      </md-steppers>
    </md-stepper-card-content>
  </md-card>
  <footer>
    <p>
    Don't have an account?
    <a href="/signup">Sign Up</a>
    </p>
  </footer>


</div>




