<h5><a ui-sref="home.event-show({ id: event.id })">← Back to event</a></h5>

<hr>

<h3>{{ event.name }} codes</h3>

<hr>

<button
  ng-click="toggleCreateCodeView()"
  type="button"
  name="createCode">
    <span ng-show="!newCode">Create code</span>
    <span ng-show="newCode">Close create code view</span>
  </button>

<div
  ng-show="newCode"
  ng-include="'/views/event/partials/form-code-create.html'"
  class="form-view">
</div>

<hr>

<h4>All codes for this event:</h4>

<div class="table-responsive" ng-show="codes.length > 0">
  <table class="table">
    <thead>
    <tr>
      <th>Code id</th>
      <th>Fee id</th>
      <th>User id</th>
      <th>Code</th>
      <th>Is deleted?</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="code in codes">
      <td ng-class="{isDeleted: code.delete_flag}">{{ code.id }}</td>
      <td ng-class="{isDeleted: code.delete_flag}">{{ code.fee_id }}</td>
      <td ng-class="{isDeleted: code.delete_flag}">{{ code.user_id }}</td>
      <td ng-class="{isDeleted: code.delete_flag}">{{ code.code }}</td>
      <td ng-class="{isDeleted: code.delete_flag}">{{ code.delete_flag }}</td>
      <td>
        <button
          ng-click="removeCode(code)"
          type="button"
          name="removeCode"
          ng-disabled="code.delete_flag">Remove</button>
      </td>
    </tr>
  </table>
</div>
