<h1>All events</h1>

<hr>

<button type="button" name="create-event">
  <a ui-sref="home.event-create">Create event</a>
</button>

<hr>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr
        ng-repeat="event in events">
        <td>{{ event.id }}</td>
        <td>
          <a ui-sref="home.event-show({ id: event.id })">{{ event.name }}</a>
        </td>
        <td>{{ event.description }}</td>
        <td>
          <button
            ng-click="removeEvent(event)"
            type="button"
            name="removeEvent">Remove</button>
            <button
              ng-click="toggleEditEventView(event)"
              type="button"
              name="editEvent">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
