<h5><a ui-sref="home.event-show({ id: eventId })">← Back to event</a></h5>

<hr>

<h3>To signup in {{ event.name }} you need to:</h3>
<div>
  <span ng-show="event.etype === 'with_application'">apply for it.</span>
  <span ng-show="event.etype === 'without_application'">fill in the participation form.</span>
</div>

<hr>

<div ng-show="event.etype === 'with_application' && !enteredCode.valid">
  <!-- already have a code? / cancel button -->
  <button ng-click="toggleEnterCodeView()">
    <span ng-show="!enteredCode">Already have a code? Enter code here.</span>
    <span ng-show="enteredCode">Cancel</span>
  </button>

  <!-- enter code form -->
  <div ng-show="enteredCode !== null && !enteredCode.valid"
       ng-include="'/views/event/partials/form-signup-code-enter.html'"
       class="form-view">
  </div>

  <hr>

  <!-- application form -->
  <div ng-include="'/views/event/partials/form-signup-application.html'"
       ng-show="!enteredCode.valid"
       class="form-view">
  </div>
</div>

<div ng-show="!participationComplete && (event.etype === 'without_application' || enteredCode.valid)">

  <!-- participation form -->
  <div ng-include="'/views/event/partials/form-signup-participation.html'"
       class="form-view">
  </div>
</div>

<!-- payment -->
<div ng-show="participationComplete">
  <a ui-sref="home.event-payment({ id: eventId })">Payment</a>
</div>
