<h5><a ui-sref="home.event">← All events</a></h5>

<hr>

<!-- Show create fee view button for super users -->
<p>
  <button
    ng-click="toggleCreateFeeView()"
    type="button"
    name="createFee">Toggle create fee view</button>
</p>

<!-- Create fee view for super users -->
<div ng-show="newFee">
  <form ng-submit="createFee(newFee)" name="createFeeForm" novalidate>
    <p>
      <b>Fee name:</b>
      <input
        ng-model="newFee.name"
        name="name"
        type="text"
        required>
    </p>
    <p>
      <b>Fee price:</b>
      <input
        ng-model="newFee.price"
        name="price"
        type="text"
        required>
    </p>
    <p>
      <b>Fee deadline:</b>
      <input
        ng-model="newFee.deadline"
        name="deadline"
        type="text"
        required>
    </p>
    <p>
      <button
        ng-click="clearFeeForm()"
        type="button"
        name="clearCreate">Clear</button>
      <button
        ng-disabled="createFeeForm.$invalid"
        type="submit"
        name="create">Add fee to event</button>
    </p>
  </form>

  <div class="debug">
    <p>createFeeForm: {{ createFeeForm }}</p>
    <p>createFeeForm.$valid: {{ createFeeForm.$valid }}</p>
    <p>createFeeForm.name.$valid: {{ createFeeForm.name.$valid }}</p>
    <p>createFeeForm.price.$valid: {{ createFeeForm.price.$valid }}</p>
    <p>createFeeForm.deadline.$valid: {{ createFeeForm.deadline.$valid }}</p>
    <p>newFee: {{ newFee }}</p>
    <p>newFee.name: {{ newFee.name }}</p>
    <p>newFee.price: {{ newFee.price }}</p>
    <p>newFee.deadline: {{ newFee.deadline }}</p>
  </div>
</div>

<hr>

<!-- Event information -->
<h1>{{ event.name }}</h1>

<p>{{ event.description }}</p>

<p><b>Fees:</b></p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Fee id</th>
      <th>Event id</th>
      <th>Fee Name</th>
      <th>Fee price</th>
      <th>Fee deadline</th>
      <th>Actions</th>
      <tbody>
        <tr ng-repeat="fee in fees">
          <td>{{ fee.id }}</td>
          <td>{{ fee.event_id }}</td>
          <td>{{ fee.name }}</td>
          <td>{{ fee.price }}</td>
          <td>{{ fee.deadline }}</td>
          <td>
            <button
              ng-click="removeFee(fee)"
              type="button"
              name="removeFee">Remove</button>
              <button
                ng-click="toggleEditFeeView(fee)"
                type="button"
                name="editFee">Edit</button>
          </td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>

<hr>

<!-- Edit fee view for super users -->
<div ng-show="feeToEdit">
  <form ng-submit="editFee(feeToEdit)" name="editFeeForm" novalidate>
    <p>
      <b>Fee name:</b>
      <input
        ng-model="feeToEdit.name"
        name="name"
        type="text"
        required>
    </p>
    <p>
      <b>Fee price:</b>
      <input
        ng-model="feeToEdit.price"
        name="price"
        type="text"
        required>
    </p>
    <p>
      <b>Fee deadline:</b>
      <input
        ng-model="feeToEdit.deadline"
        name="deadline"
        type="text"
        required>
    </p>
    <p>
      <button
        ng-disabled="editFeeForm.$invalid"
        type="submit"
        name="create">Save</button>
    </p>
    <div class="debug">
      <p>editFeeForm: {{ editFeeForm }}</p>
      <p>editFeeForm.$valid: {{ editFeeForm.$valid }}</p>
      <p>editFeeForm.name.$valid: {{ editFeeForm.name.$valid }}</p>
      <p>editFeeForm.price.$valid: {{ editFeeForm.price.$valid }}</p>
      <p>editFeeForm.deadline.$valid: {{ editFeeForm.deadline.$valid }}</p>
      <p>feeToEdit: {{ feeToEdit }}</p>
      <p>feeToEdit.name: {{ feeToEdit.name }}</p>
      <p>feeToEdit.price: {{ feeToEdit.price }}</p>
      <p>feeToEdit.deadline: {{ feeToEdit.deadline }}</p>
    </div>
  </form>
