<h5><a ui-sref="home.event">← All events</a></h5>

<hr>

<!-- Show create fee view button for super users -->
<p>
  <button
    ng-click="toggleCreateFeeView()"
    type="button"
    name="createFee">
      <span ng-show="!newFee">Create new fee</span>
      <span ng-show="newFee">Close</span>
    </button>
</p>

<!-- Create fee view for super users -->
<div
  ng-show="newFee"
  ng-include="'/views/event/partials/form-create-fee.html'"
  class="form-view">
</div>

<hr>

<!-- Event information -->
<div ng-include="'/views/event/partials/event-info.html'">
</div>

<hr>

<!-- Edit fee view for super users -->
<div
  ng-show="feeToEdit"
  ng-include="'/views/event/partials/form-edit-fee.html'"
  class="form-view">
</div>
