<h1>All events</h1>

<hr>

<div class="all-events" ng-show="events && eventsAvailable()">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th ng-show="$root.user.is_super_user">Actions</th>
      </thead>
      <tbody>
        <tr
          ng-repeat="event in events"
          ng-show="!event.delete_flag">
          <td>{{ event.id }}</td>
          <td>
            <a ui-sref="home.event-show({ id: event.id })">{{ event.name }}</a>
          </td>
          <td>{{ event.description }}</td>
          <td ng-show="$root.user.is_super_user">
            <button
              ng-click="removeEvent(event)"
              type="button"
              name="removeEvent">Remove</button>
              <button
                ng-click="toggleEditEventView(event)"
                type="button"
                name="editEvent">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Edit event view -->
  <div
    ng-show="$root.user.is_super_user && editedEvent"
    ng-include="'/views/event/partials/form-event-edit.html'"
    class="form-view">
  </div>

  <hr>
</div>

<div ng-show="$root.user.is_super_user">
  <!-- Show/hide action buttons -->
  <p>
    <button
      ng-click="toggleCreateEventView()"
      type="button"
      name="createEvent">
        <span ng-show="!newEvent">Create event</span>
        <span ng-show="newEvent">Close create event view</span>
      </button>
  </p>

  <!-- Edit event view -->
  <div
    ng-show="newEvent"
    ng-include="'/views/event/partials/form-event-create.html'"
    class="form-view">
  </div>
</div>
