<h1>{{ event.name }}</h1>


<p>To participate at the event you need to pay the fee.</p>
<br/>

<form ng-submit="processPayment()">
  <div id="payment-form"></div>
  <input type="submit" value="Pay {{ defaultPlan.price }} €" ng-show="braintreeReady && !processingPayment">
  <div id="payment-errors">
  <ul>
    <li ng-repeat="error in paymentErrors">{{ error.message }}</li>
  </ul>
  </div>
</form>

braintreeReady: {{ braintreeReady }} <br/>
processingPayment: {{ processingPayment }} <br/>
braintreeReady and !processingPayment: {{ braintreeReady && !processingPayment }} <br/>
