<h5><a ui-sref="home.event-show({ id: eventId })">← Back to event</a></h5>

<hr>

<h3>To participate in {{ event.name }} you need to:</h3>
<div>
  <span ng-show="event.etype === 'with_application'">apply for it.</span>
  <span ng-show="event.etype === 'without_application'">pay a fee.</span>
</div>

<hr>

<div ng-show="event.etype === 'with_application'">
  <!-- already have a code? / cancel button --->
  <button ng-click="toggleEnterCodeView()">
    <span ng-show="!enteredCode">Already have a code? Enter code here.</span>
    <span ng-show="enteredCode">Cancel</span>
  </button>

  <!-- enter code form -->
  <div ng-show="enteredCode !== null"
       ng-include="'/views/event/partials/form-participation-code-enter.html'"
       class="form-view">
  </div>

  <hr>

  <!-- application form -->
  <div ng-include="'/views/event/partials/form-participation-application.html'"
       class="form-view">
  </div>
</div>
