<div class="admin-panel" layout="row">
  <md-sidenav class="side-navbar md-sidenav-left md-whiteframe-z2"
              md-component-id="left" hide-print
              md-is-locked-open="$mdMedia('gt-sm')">

    <header class="nav-header">
      <a ng-href="/admin" class="logo">
        <h1 class="logotype md-heading">Alumni Connect</h1>
      </a>
    </header>

    <md-content flex role="navigation">
      <ul class="admin-panel-menu">
        <li ng-repeat="section in $ctrl.menu.sections"
            class="parent-list-item {{section.className || ''}}" 
            ng-class="{'parentActive' : $ctrl.isSectionSelected(section)}">
            <md-button
                ng-class="{'active' : $ctrl.isSelected(section)}"
                ng-href="{{section.url}}">
              {{section.name}}
            </md-button>
        </li>
      </ul>
      <a class="logout" ng-click="$ctrl.logout()">Logout</a>
    </md-content>
  </md-sidenav>

  <md-content layout="column" flex>
    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
      <div class="md-toolbar-tools admin-toolbar-tools" tabIndex="-1">
        <md-button  class="md-icon-button"
                    ng-click="$ctrl.openMenu()"
                    hide-gt-sm aria-label="Toggle Menu">
          <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <div layout="row" flex class="fill-height">
          <h2 class="md-toolbar-item md-breadcrumb md-headline">
            <span class="md-breadcrumb-page">{{$ctrl.currentSection.name}}</span>
          </h2>

          <span flex></span>

          <div class="md-toolbar-item blick-tools" layout="row">
            <!--  <md-button class="md-icon-button" aria-label="Add">
              <md-icon class="material-icons">add_circle</md-icon>
            </md-button> -->
          </div>
        </div>
      </div>

    </md-toolbar>

    <md-content layout="column" layout-fill flex class="view-content">
      <div ui-view layout-padding layout-fill flex="noshrink"></div>
    </md-content>

  </md-content>

</div>