


<div class="signin" layout="column" layout-align="center center">

  <header>
    <logo></logo>
  </header>

  <md-card class="form" flex>
    <md-progress-linear md-mode="query" ng-disabled="$ctrl.notQuering"></md-progress-linear>
    <div layout-padding>
      
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Log In</span>
        </md-card-title-text>
      </md-card-title>

      <form name="signinForm">
        <md-input-container class="md-block">
          <label>Email</label>
          <input type="email"
                 required
                 name="email" ng-model="$ctrl.signinForm.email">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input required type="password" name="password" ng-model="$ctrl.signinForm.password">
        </md-input-container>
      </form>

      <md-card-actions layout="row" layout-align="end">
        <md-button  
                    type="submit"
                    ng-click="$ctrl.submitLogin()"
                    ng-disabled="signinForm.$invalid" flex>
          Signin
        </md-button>
      </md-card-actions>


    </div>
  </md-card>

  <footer>
    <p>
    Don't have an account?
    <a ui-sref="signup">Sign Up</a>
    </p>
  </footer>


</div>





