

<div class="signup" layout="column" layout-align="center center">
  <header>
    <logo></logo>
  </header>

  <md-card class="form" flex>
    <md-progress-linear md-mode="query" ></md-progress-linear>
    <div layout-padding>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Sign Up</span>
        </md-card-title-text>
      </md-card-title>

      <form name="signupForm">
        <md-input-container class="md-block">
          <label>Email</label>
          <input type="email"
                 required
                 name="email" ng-model="$ctrl.email">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input required name="password" ng-model="$ctrl.password">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Confirm Password</label>
          <input required name="confirm password" ng-model="$ctrl.cpassword">
        </md-input-container>

      </form>

      <md-card-actions layout="row" layout-align="end">
        <md-button flex>Sign Up</md-button>
      </md-card-actions>
    </div>
  </md-card>

  <footer>
    <p>
    Already have an account?
    <a href="/signin">Log In</a>
    </p>
  </footer>


</div>





