<p><img
  ng-src="{{ getEventHeader(event) }}"
  alt="{{ event.name }} Header"
  style="height: 200px;" /></p>

<p><img
  ng-src="{{ getEventLogo(event) }}"
  alt="{{ event.name }} Logo"
  style="height: 200px;" /></p>

<h1>{{ event.name }}</h1>

<p><b>Description</b>: {{ event.description }}</p>
<p><b>Location</b>: {{ event.location }}</p>
<p><b>Dates</b>: {{ event.dates }}</p>
<p><b>Agenda</b>: {{ event.agenda }}</p>
<p><b>Slogan</b>: {{ event.slogan }}</p>
<p><b>Contact email</b>: {{ event.contact_email }}</p>
<p><b>Contact phone</b>: {{ event.contact_phone }}</p>
<p><b>Facebook URL</b>: {{ event.facebook_url }}</p>
<p><b>Published</b>: {{ event.published }}</p>
<p><b>Type</b>: {{ event.etype }}</p>

<button
  type="button"
  name="participate">
  <a ui-sref="home.event-participate({ id: eventId })">Participate</a>
</button>

<div class="table-responsive" ng-show="fees.length > 0">
  <table class="table">
    <thead>
      <th>Fee id</th>
      <th>Event id</th>
      <th>Fee Name</th>
      <th>Fee price</th>
      <th>Fee deadline</th>
      <th>Is early bird fee</th>
      <th>Is honoris fee</th>
      <th>Actions</th>
      <tbody>
        <tr ng-repeat="fee in fees">
          <td>{{ fee.id }}</td>
          <td>{{ fee.event_id }}</td>
          <td>{{ fee.name }}</td>
          <td>{{ fee.price }}</td>
          <td>{{ fee.deadline }}</td>
          <td>{{ fee.is_early_bird_fee }}</td>
          <td>{{ fee.is_honoris_fee }}</td>
          <td>
            <button
              ng-show="$root.user.is_super_user"
              ng-click="removeFee(fee)"
              type="button"
              name="removeFee">Remove</button>
            <button
              ng-show="$root.user.is_super_user"
              ng-click="toggleEditFeeView(fee)"
              type="button"
              name="editFee">Edit</button>
          </td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>
