<p>Enter code:</p>

<form ng-submit="enterCode()" name="form" novalidate>
  <p>
    <b>Code:</b>
    <input
      ng-model="enteredCode.code"
      name="code"
      type="text"
      required>
  </p>
  <button
    ng-click="enteredCode = {}"
    type="button"
    name="clearEnterCode">
    Clear
  </button>
  <button
    ng-click="toggleEnterCodeView()"
    type="button"
    name="cancelEnterCode">
    Cancel
  </button>
  <button
    ng-disabled="form.$invalid"
    type="submit"
    name="enterCode">
    Enter code
  </button>
</form>

<div class="debug">
  <p>form: {{ form }}</p>
  <p>form.$valid: {{ form.$valid }}</p>
  <p>form.code.$valid: {{ form.code.$valid }}</p>
  <p>enteredCode: {{ enteredCode }}</p>
  <p>enteredCode.code: {{ enteredCode.code }}</p>
</div>
