<p>Application form:</p>

<form ng-submit="apply()" name="form" novalidate>
  <p>
    <b>First name:</b>
    <input
      type="text"
      value="{{ $root.user.first_name }}"
      disabled>
  </p>
  <p>
    <b>Last name:</b>
    <input
      type="text"
      value="{{ $root.user.last_name }}"
      disabled>
  </p>
  <p>
    <b>Email:</b>
    <input
      type="text"
      value="{{ $root.user.email }}"
      disabled>
  </p>
  <p>
    <b>Date of birth:</b>
    <input
      type="text"
      value="{{ $root.user.date_of_birth }}"
      disabled>
  </p>
  <p>
    <b>Country:</b>
    <input
      type="text"
      value="{{ $root.user.country }}"
      disabled>
  </p>
  <p>
    <b>Mobile phone:</b>
    <input
      type="text"
      value="{{ $root.user.mobile_phone }}"
      disabled>
  </p>
  <p>
    <b>Motivation text:</b>
    <textarea
      ng-model="newApplication.motivation_text"
      name="motivationText"
      type="text"
      required></textarea>
  </p>
  <p>
    <b>CV:</b>
    <label>
      <button type="button" ngf-select="cvFileSelected($file)">Select file...</button>
    </label>
    <span>
      <span ng-show="cvUploadingStatus">Status: {{ cvUploadingStatus }}</span>
      <span ng-show="cvUploadSuccess">File upload successful!</span>
      <span ng-show="cvUploadError">File upload failed!</span>
    </span>
  </p>
  <p>
    <button
      ng-click="clearApplicationForm()"
      type="button"
      name="clearApplication">Clear</button>
    <button
      ng-disabled="form.$invalid"
      type="submit"
      name="apply">Apply</button>
  </p>
</form>

<div class="debug">
  <p>form: {{ form }}</p>
  <p>form.$valid: {{ form.$valid }}</p>
  <p>form.motivationText.$valid: {{ form.motivationText.$valid }}</p>
  <p>newApplication: {{ newApplication }}</p>
  <p>newApplication['motivation_text']: {{ newApplication['motivation_text'] }}</p>
</div>
