<form ng-submit="editFee(feeToEdit)" name="editFeeForm" novalidate>
  <p>
    <b>Fee name:</b>
    <input
      ng-model="feeToEdit.name"
      name="name"
      type="text"
      required>
  </p>
  <p>
    <b>Fee price:</b>
    <input
      ng-model="feeToEdit.price"
      name="price"
      type="text"
      required>
  </p>
  <p>
    <b>Fee deadline:</b>
    <input
      ng-model="feeToEdit.deadline"
      name="deadline"
      type="text"
      required>
  </p>
  <p>
    <b>Is early bird fee:</b>
    <input
      ng-model="feeToEdit.is_early_bird_fee"
      name="is_early_bird_fee"
      type="checkbox"
      required>
  </p>
  <p>
    <b>Is honoris fee:</b>
    <input
      ng-model="feeToEdit.is_honoris_fee"
      name="is_honoris_fee"
      type="checkbox"
      required>
  </p>
  <p>
    <button
      ng-click="toggleEditFeeView()"
      type="button"
      name="cancel">Cancel</button>
    <button
      ng-disabled="editFeeForm.$invalid"
      type="submit"
      name="create">Save</button>
  </p>
  <div class="debug">
    <p>editFeeForm: {{ editFeeForm }}</p>
    <p>editFeeForm.$valid: {{ editFeeForm.$valid }}</p>
    <p>editFeeForm.name.$valid: {{ editFeeForm.name.$valid }}</p>
    <p>editFeeForm.price.$valid: {{ editFeeForm.price.$valid }}</p>
    <p>editFeeForm.deadline.$valid: {{ editFeeForm.deadline.$valid }}</p>
    <p>editFeeForm.is_early_bird_fee.$valid: {{ editFeeForm.is_early_bird_fee.$valid }}</p>
    <p>editFeeForm.is_honoris_fee.$valid: {{ editFeeForm.is_honoris_fee.$valid }}</p>
    <p>feeToEdit: {{ feeToEdit }}</p>
    <p>feeToEdit.name: {{ feeToEdit.name }}</p>
    <p>feeToEdit.price: {{ feeToEdit.price }}</p>
    <p>feeToEdit.deadline: {{ feeToEdit.deadline }}</p>
    <p>feeToEdit.is_early_bird_fee: {{ feeToEdit.is_early_bird_fee }}</p>
    <p>feeToEdit.is_honoris_fee: {{ feeToEdit.is_honoris_fee }}</p>
  </div>
</form>
