<form ng-submit="createEvent(newEvent)" name="form" novalidate>
  <p>
    <b>Name:</b>
    <input
      ng-model="newEvent.name"
      name="name"
      type="text"
      required>
  </p>
  <p>
    <b>Description:</b>
    <input
      ng-model="newEvent.description"
      name="description"
      type="text">
  </p>
  <p>
    <b>Location:</b>
    <input
      ng-model="newEvent.location"
      name="location"
      type="text">
  </p>
  <p>
    <b>Dates:</b>
    <input
      ng-model="newEvent.dates"
      name="dates"
      type="text">
  </p>
  <p>
    <b>Agenda:</b>
    <textarea
      ng-model="newEvent.agenda"
      name="agenda"
      type="text"></textarea>
  </p>
  <p>
    <b>Slogan:</b>
    <input
      ng-model="newEvent.slogan"
      name="slogan"
      type="text">
  </p>
  <p>
    <b>Contact email:</b>
    <input
      ng-model="newEvent.contact_email"
      name="contact_email"
      type="text">
  </p>
  <p>
    <b>Contact phone:</b>
    <input
      ng-model="newEvent.contact_phone"
      name="contact_phone"
      type="text">
  </p>
  <p>
    <b>Facebook URL:</b>
    <input
      ng-model="newEvent.facebook_url"
      name="facebook_url"
      type="text">
  </p>
  <p>
    <b>Published:</b>
    <input
      ng-model="newEvent.published"
      name="published"
      type="checkbox">
  </p>
  <p>
    <b>Type:</b>
    <label>
      <input
        ng-model="newEvent.etype"
        name="etype1"
        type="radio"
        value="without_application"
        required>
      Without application
    </label>
    <label>
      <input
        ng-model="newEvent.etype"
        name="etype2"
        type="radio"
        value="with_application"
        required>
      With application
    </label>
  </p>
  <p>
    <button
      ng-click="newEvent = {}"
      type="button"
      name="clearEvent">Clear</button>
    <button
      ng-click="toggleCreateEventView()"
      type="button"
      name="cancelCreateEvent">Cancel</button>
    <button
      ng-disabled="form.$invalid"
      type="submit"
      name="create">Create event</button>
  </p>
</form>

<div class="debug">
  <p>form: {{ form }}</p>
  <p>form.$valid: {{ form.$valid }}</p>
  <p>form.name.$valid: {{ form.name.$valid }}</p>
  <p>form.description.$valid: {{ form.description.$valid }}</p>
  <p>form.location.$valid: {{ form.location.$valid }}</p>
  <p>form.dates.$valid: {{ form.dates.$valid }}</p>
  <p>form.agenda.$valid: {{ form.agenda.$valid }}</p>
  <p>form.slogan.$valid: {{ form.slogan.$valid }}</p>
  <p>form.contact_email.$valid: {{ form.contact_email.$valid }}</p>
  <p>form.contact_phone.$valid: {{ form.contact_phone.$valid }}</p>
  <p>form.facebook_url.$valid: {{ form.facebook_url.$valid }}</p>
  <p>form.published.$valid: {{ form.description.$valid }}</p>
  <p>form.etype.$valid: {{ form.etype.$valid }}</p>
  <p>newEvent: {{ newEvent }}</p>
  <p>newEvent.name: {{ newEvent.name }}</p>
  <p>newEvent.etype: {{ newEvent.etype }}</p>
</div>
