<form
  ng-submit="editEvent(editedEvent)"
  name="editEventForm" novalidate>
  <p>
    <b>Event name:</b>
    <input
      ng-model="editedEvent.name"
      name="name"
      type="text"
      required>
  </p>
  <p>
    <b>Event description:</b>
    <input
      ng-model="editedEvent.description"
      name="description"
      type="text">
  </p>
  <p>
    <b>Event Location:</b>
    <input
      ng-model="editedEvent.location"
      name="location"
      type="text">
  </p>
  <p>
    <b>Event Dates:</b>
    <input
      ng-model="editedEvent.dates"
      name="dates"
      type="text">
  </p>
  <p>
    <b>Event Agenda:</b>
    <input
      ng-model="editedEvent.agenda"
      name="agenda"
      type="text">
  </p>
  <p>
    <b>Event slogan:</b>
    <input
      ng-model="editedEvent.slogan"
      name="slogan"
      type="text">
  </p>
  <p>
    <b>Event Contact email:</b>
    <input
      ng-model="editedEvent.contact_email"
      name="contact_email"
      type="text">
  </p>
  <p>
    <b>Event Contact phone:</b>
    <input
      ng-model="editedEvent.contact_phone"
      name="contact_phone"
      type="text">
  </p>
  <p>
    <b>Event Published:</b>
    <input
      ng-model="editedEvent.published"
      name="published"
      type="checkbox">
  </p>
  <p>
    <b>Event type:</b>
    <label>
      <input
        ng-model="editedEvent.etype"
        name="etype1"
        type="radio"
        value="without_application"
        required>
      Without application
    </label>
    <label>
      <input
        ng-model="editedEvent.etype"
        name="etype2"
        type="radio"
        value="with_application"
        required>
      With application
    </label>
  </p>
  <p>
    <button
      ng-click="toggleEditEventView()"
      type="button"
      name="cancel">Cancel</button>
    <button
      ng-disabled="editEventForm.$invalid"
      type="submit"
      name="create">Save</button>
  </p>

  <div class="debug">
    <p>editEventForm: {{ editEventForm }}</p>
    <p>editEventForm.$valid: {{ editEventForm.$valid }}</p>
    <p>editEventForm.name.$valid: {{ editEventForm.name.$valid }}</p>
    <p>editEventForm.description.$valid: {{ editEventForm.description.$valid }}</p>
    <p>editEventForm.location.$valid: {{ editEventForm.location.$valid }}</p>
    <p>editEventForm.dates.$valid: {{ editEventForm.dates.$valid }}</p>
    <p>editEventForm.agenda.$valid: {{ editEventForm.agenda.$valid }}</p>
    <p>editEventForm.contact_email.$valid: {{ editEventForm.contact_email.$valid }}</p>
    <p>editEventForm.published.$valid: {{ editEventForm.description.$valid }}</p>
    <p>editEventForm.etype.$valid: {{ editEventForm.etype.$valid }}</p>
    <p>editedEvent: {{ editedEvent }}</p>
    <p>editedEvent.name: {{ editedEvent.name }}</p>
    <p>editedEvent.description: {{ editedEvent.description }}</p>
    <p>editedEvent.etype: {{ editedEvent.etype }}</p>
  </div>
</form>
