<form ng-submit="createEvent(newEvent)" name="form" novalidate>
  <p>
    <b>Name:</b>
    <input
      ng-model="newEvent.name"
      name="name"
      type="text"
      required>
  </p>
  <p>
    <b>Description:</b>
    <input
      ng-model="newEvent.description"
      name="description"
      type="text">
  </p>
  <p>
    <b>Location:</b>
    <input
      ng-model="newEvent.location"
      name="location"
      type="text">
  </p>
  <p>
    <b>Dates:</b>
    <input
      ng-model="newEvent.dates"
      name="dates"
      type="text">
  </p>
  <p>
    <b>Agenda:</b>
    <input
      ng-model="newEvent.agenda"
      name="agenda"
      type="text">
  </p>
  <p>
    <b>Contact email:</b>
    <input
      ng-model="newEvent.contact_email"
      name="contact_email"
      type="text">
  </p>
  <p>
    <b>Published:</b>
    <input
      ng-model="newEvent.published"
      name="published"
      type="checkbox">
  </p>
  <p>
    <button
      ng-click="newEvent = {}"
      type="button"
      name="clearEvent">Clear</button>
    <button
      ng-click="toggleCreateEventView()"
      type="button"
      name="cancelCreateEvent">Cancel</button>
    <button
      ng-disabled="form.$invalid"
      type="submit"
      name="create">Create event</button>
  </p>
</form>

<div class="debug">
  <p>form: {{ form }}</p>
  <p>form.$valid: {{ form.$valid }}</p>
  <p>form.name.$valid: {{ form.name.$valid }}</p>
  <p>form.description.$valid: {{ form.description.$valid }}</p>
  <p>form.location.$valid: {{ form.location.$valid }}</p>
  <p>form.dates.$valid: {{ form.dates.$valid }}</p>
  <p>form.agenda.$valid: {{ form.agenda.$valid }}</p>
  <p>form.contact_email.$valid: {{ form.contact_email.$valid }}</p>
  <p>form.published.$valid: {{ form.description.$valid }}</p>
  <p>newEvent: {{ newEvent }}</p>
  <p>newEvent.name: {{ newEvent.name }}</p>
</div>
