<!-- Form -->
<form
  name="personalForm"
  role="form"
  class="form-horizontal"
  ng-submit="personalForm.$valid && personalInformation(peronalData)"
  ng-init="peronalData = {}"
  novalidate>

  <!-- 1st row -->
  <div class="form-group">
    <!-- First name -->
    <div class="col-md-6">
      <label>First name</label>
      <input
        type="text"
        class="form-control"
        placeholder="First name"
        ng-model="peronalData.first_name"
        required />
    </div>
    <!-- Last name -->
    <div class="col-md-6">
      <label for="exampleInputEmail1">Last name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Last name"
        ng-model="peronalData.last_name"
        required />
    </div>
  </div>
  <!-- 2nd row -->
  <div class="form-group">
    <!-- Country -->
    <div class="col-md-6">
      <label>Country</label>
      <select
        class="form-control"
        ng-init="peronalData.country = getAllCountries[80] || peronalData.country"
        ng-model="peronalData.country"
        ng-options="country.code as country.name for country in getAllCountries"
        required>
      </select>
    </div>
    <!-- City -->
    <div class="col-md-6">
      <label>City</label>
      <input
        type="text"
        class="form-control"
        placeholder="City"
        ng-model="peronalData.city"
        required />
    </div>
  </div>
  <!-- 3rd row -->
  <div class="form-group">
    <!-- Date of Birth -->
    <div class="col-md-6">
      <label>Birthday</label>
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="personalData.date_of_birth" is-open="opened" max-date="maxDate" datepicker-options="dateOptions" show-button-bar="false" ng-required="true"/>
        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>

    <!-- Gender -->
    <div class="col-md-6">
      <label>Gender</label>
      <div class="checkbox-row" ng-init="peronalData.gender=0">
        <!-- Male -->
        <div
          class="btn btn-checkbox"
          style="margin-left:20px"
          ng-class="{active: !peronalData.gender}"
          ng-click="peronalData.gender=0;">
          Male
        </div>
        <!-- Female -->
        <div
          class="btn btn-checkbox"
          style="margin-left:20px"
          ng-class="{active: peronalData.gender}"
          ng-click="peronalData.gender=1">
          Female
        </div>
      </div>
    </div>
  </div> <!-- /3rd-row -->

  <!-- Continue -->
  <button
    type="submit"
    ng-disabled="personalForm.$invalid"
    class="btn btn-default btn-green btn-lg">
    Continue
  </button>

</form>
