<form
  ng-controller="RegistrationProgramCtrl as program"
  name="programForm"
  role="form"
  ng-submit="program.programInformation(programData)"
  ng-init="programData = {}"
  novalidate>

  <!-- Form Validation Massages -->
  <validation-messages  form="programForm" 
                        get-messages="registration.formValidationMessages"
                        get-title="registration.farmValidationTitle">
  </validation-messages>

  <!-- JA-YE program -->
  <div class="form-group">
    <label>Which JA-YE Program did you participate in?</label>
    <div class="checkbox-row" ng-init="programData.program_type=0">
      <div class="btn btn-checkbox" style="margin-left:20px" ng-class="{active: programData.program_type === 0}" ng-click="programData.program_type=0;">Company</div>
      <div class="btn btn-checkbox" style="margin-left:20px" ng-class="{active: programData.program_type === 1}" ng-click="programData.program_type=1;">Startup</div>
      <div class="btn btn-checkbox" style="margin-left:20px" ng-class="{active: programData.program_type === 2}" ng-click="programData.program_type=2;">Other</div>
    </div>
  </div>
  <!-- JA-YE country -->
  <div  class="form-group"
        ng-class="{ 
          'has-success': programForm.country_of_participation.$dirty && programForm.country_of_participation.$valid, 
          'has-error': programForm.country_of_participation.$dirty && programForm.country_of_participation.$invalid
        }">  
    <label for="country_of_participation">In which country did you participate?</label>
    <select
      name="country_of_participation"
      class="form-control"
      ng-model="programData.country_of_participation"
      ng-options="country.code as country.name for country in registration.getCountries"
      required />
    </select>
  </div>
  <!-- School -->
  <div  class="form-group"
        ng-class="{ 
          'has-success': programForm.institution.$dirty && programForm.institution.$valid, 
          'has-error': programForm.institution.$dirty && programForm.institution.$invalid
        }">  
    <label for="institution">At which school or university did you participate?</label>
    <input
      name="institution"
      type="text"
      class="form-control"
      placeholder="Institute"
      ng-model="programData.institution"
      required />
  </div>
  <!-- Year of participation -->
  <div  class="form-group"
        ng-class="{ 
          'has-success': programForm.year_of_participation.$dirty && programForm.year_of_participation.$valid, 
          'has-error': programForm.year_of_participation.$dirty && programForm.year_of_participation.$invalid
        }">    
    <label for="year_of_participation">In which year did you participate?</label>
    <select 
      name="year_of_participation"
      class="form-control" 
      ng-model="programData.year_of_participation" 
      ng-options="year for year in registration.possibleYears" 
      required>
    </select>
  </div>
  <!-- Name of student company -->
  <div  class="form-group"
        ng-class="{ 
          'has-success': programForm.student_company_name.$dirty && programForm.student_company_name.$valid, 
          'has-error': programForm.student_company_name.$dirty && programForm.student_company_name.$invalid
        }">  
    <label for="student_company_name">What was the name of your student company?</label>
    <input
      name="student_company_name"
      type="text"
      class="form-control"
      placeholder="Name"
      ng-model="programData.student_company_name"
      required />
  </div>
  <!-- Continue button -->
  <button
    type="submit"
    class="btn btn-default btn-green btn-lg">
    Continue
  </button>
</form>
