<h3>Groups</h3>
<hr>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Subscribe</th>
                <th>Unsubscribe</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in groupsCtrl.groups">
                <td><a ui-sref='home.group({id: group.id})'>{{ group.name }}</a></td>
                <td>{{ group.description }}</td>
                <td>
                  <button ng-click="groupsCtrl.subscribe(group)"
                          ng-disabled="{{!!group.membership}}"
                          class="btn btn-default">subscribe</button></td>
                <td><button  ng-click="groupsCtrl.unsubscribe(group.membership)"
                            ng-disabled="{{!group.membership}}"
                            class="btn btn-default">Unsubscribe</button></td>
                <td><button ng-show=" groupCtrl.isSuperUser " 
                  ng-click="groupsCtrl.delete(group)"  class="btn btn-default">delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<button class="btn btn-default" ng-click="groupsCtrl.isCollapsed = !groupsCtrl.isCollapsed">Add</button>
<div collapse="groupsCtrl.isCollapsed">
    <form name="groupForm" class="form-inline" ng-submit="groupsCtrl.addGroup(group)">
      <div class="form-group">
        <input ng-model="group.name" type="text"
               class="form-control" id="Name" placeholder="Name">
      </div>
      <div class="form-group">
        <input ng-model="group.description" type="text"
               class="form-control" id="Description" placeholder="Description">
      </div>
      <button type="submit" class="btn btn-default">Create</button>
    </form>
</div>