<div id="home-view">
  <!-- Navbar -->
  <div class="alumni-navbar" ng-controller="NavbarCtrl">
    <!-- Colorbar -->
    <div class="colorbar">
      <div class="o1"></div>
      <div class="hg1"></div>
      <div class="dg1"></div>
      <div class="o2"></div>
      <div class="dg2"></div>
      <div class="hg2"></div>
      <div class="o3"></div>
    </div>
    <!-- Navbar container -->
    <div class="navbar-container">
      <!-- Navbar content -->
      <div class="navbar-content">
        <!-- Logo -->
        <div class="navbar-logo">
          <a id="alumni-connect-logo" ui-sref="home.start-page">Alumni Connect</a>
        </div>
        <!-- Links -->
        <div class="navbar-rest">
          <div class="btn-group" role="group">
            <button 
              type="button" 
              class="dropdown-toggle navbar-element alumni-profile" 
              data-toggle="dropdown">
              {{ user.first_name }} {{ user.last_name }}
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="home.profile-show({ id: user.id})">View profile</a></li>
              <li><a ui-sref="home.profile-update">Update profile</a></li>
              <li role="presentation" class="divider"></li>
              <li><a ui-sref="home.profile-password-update">Change password</a></li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button 
              type="button" 
              class="dropdown-toggle navbar-element" 
              data-toggle="dropdown">
              Groups
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="home.memberships">My groups</a></li>
              <li role="presentation" class="divider"></li>
              <li><a ui-sref="home.groups">All groups</a></li>
            </ul>
          </div>
          <a class="navbar-element alumni-logout" ng-click="handleSignOutBtnClick()">Logout</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="home-container">
    <ui-view/>
  </div>

</div>




