<div id="home-view">
  <div class="colorbar">
    <div class="o1"></div>
    <div class="hg1"></div>
    <div class="dg1"></div>
    <div class="o2"></div>
    <div class="dg2"></div>
    <div class="hg2"></div>
    <div class="o3"></div>
  </div>

  <div class="container-fuild">
    <div class="container">

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <h1 class="title"> Alumni Connect </h1>
        </div>
      </div>

      <ui-view/>

    </div>
  </div>
</div>




