<div id="home-view">
  <div class="colorbar">
    <div class="o1"></div>
    <div class="hg1"></div>
    <div class="dg1"></div>
    <div class="o2"></div>
    <div class="dg2"></div>
    <div class="hg2"></div>
    <div class="o3"></div>
  </div>

  <div class="alumni-navbar">
    <div class="alumni-navbar-content">
      <div class="alumni-navbar-logo">
        Alumni Connect
      </div>
      <div class="alumni-navbar-rest">
        <div class="alumni-navbar-element alumni-profile">
          <a href="#">Max Mustermann</a>
        </div><!--
     --><div class="alumni-navbar-element">
          <a href="#">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fuild">
    <div class="container">

      <ui-view/>

    </div>
  </div>
</div>




