<div class="two-page-layout clearfix">
  <div class="sidebar">
    <div class="profile-image-container profile-image-update">
        <img ng-src="{{getAvatar(tempUserData)}}" alt="Profile image"/>
    </div>
    <div class="sidebar-content">
      <!-- Empty -->
    </div>
  </div>
  <div class="main-container">
    <div class="main-content with-form">
      <!-- Title -->
      <div class="page-title">
        <h1>Update password</h1>
      </div>

      <form
        name="updatePasswordForm"
        ng-submit="updatePassword(passwordData)"
        role="form"
        class="form-inline"
        novalidate>

        <!-- Form Validation Massages -->
        <validation-messages form="updatePasswordForm"
          get-messages="formValidationMessages"
          get-title="farmValidationTitle">
        </validation-messages>

        <div class="page-section">
          <!-- Password -->
          <div class="section-row form-group"
            ng-class="{
              'has-success': updatePasswordForm.password.$dirty && updatePasswordForm.password.$valid,
              'has-error': updatePasswordForm.password.$dirty && updatePasswordForm.password.$invalid
            }">
            <div class="section-column-left">
              <label for="password"><p>Password</p></label>
            </div>
            <div class="section-column-right">
              <input
                name="password"
                type="password"
                class="form-control"
                ng-model="passwordData.password"
                ng-minlength="8"
                required/>
            </div>
          </div>
          <!-- Password confirmation -->
          <div class="section-row form-group" ng-class="{
              'has-success': updatePasswordForm.password_confirmation.$dirty && updatePasswordForm.password_confirmation.$valid,
              'has-error': updatePasswordForm.password_confirmation.$dirty && updatePasswordForm.password_confirmation.$invalid
            }">
            <div class="section-column-left">
              <label for="password_confirmation"><p>Password confirmation</p></label>
            </div>
            <div class="section-column-right">
              <input
                name="password_confirmation"
                type="password"
                class="form-control"
                ng-model="passwordData.password_confirmation"
                ng-minlength="8"
                compare-to="passwordData.password"/>
            </div>
          </div>
        </div> <!-- /page-section -->



        <div class="page-section">
          <!-- Submit -->
          <div>
            <button
            name="edit"
            type="submit"
            id="update-submit-btn"
            class="btn btn-success">
            Submit
          </button>
        </div> <!-- /page-section -->
      </form>
    </div> <!-- /main-content -->
  </div> <!-- /main-container -->
</div> <!-- /two-page-layout -->
