<div class="two-page-layout clearfix">
  <div class="sidebar">
    <div class="sidebar-content">
      <!-- Empty -->
    </div>
  </div>
  <div class="main-container">
    <div class="main-content with-form">
      <!-- Title -->
      <div class="page-title">
        <h1>Update password</h1>
      </div>

      <form
        name="updatePasswordForm"
        role="form"
        class="form-inline"
        novalidate>

        <!-- Form Validation Massages -->
        <validation-messages form="updateUserForm"
          get-messages="formValidationMessages"
          get-title="farmValidationTitle">
        </validation-messages>

        <div class="page-section">
          <!-- Password -->
          <div class="section-row form-group">
            <div class="section-column-left">
              <label for="password"><p>Password</p></label>
            </div>
            <div class="section-column-right">
              <input name="password" type="url" class="form-control" />
            </div>
          </div>
          <!-- Password confirmation -->
          <div class="section-row form-group">
            <div class="section-column-left">
              <label for="password-confirmation"><p>Password confirmation</p></label>
            </div>
            <div class="section-column-right">
              <input name="password-confirmation" type="url" class="form-control" />
            </div>
          </div>
        </div> <!-- /page-section -->



        <div class="page-section">
          <!-- Submit -->
          <div>
            <button
            name="edit"
            type="submit"
            id="update-submit-btn"
            class="btn btn-success">
            Submit
          </button>
        </div> <!-- /page-section -->
      </form>
    </div> <!-- /main-content -->
  </div> <!-- /main-container -->
</div> <!-- /two-page-layout -->