<h1>{{ title }}</h1>

<p>Here superusers can manage the premium membership plans</p>
<table id="plans">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Default</th>
    <th>Delete flag</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr ng-repeat="plan in plans">
      <td>{{ plan.id }}</td>
      <td>{{ plan.name }}</td>
      <td>{{ plan.description }}</td>
      <td>{{ plan.price }}</td>
      <td>{{ plan.default }}</td>
      <td>{{ plan.delete_flag }}</td>
      <td>
            <button ng-click="deletePlan(plan)">Delete</button>
            <button ng-click="editPlan(plan)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<br/>

<button ng-click="newPlan()">Create a new plan</button>
<br/>
<br/>


<div ng-show="tmpPlanFormVisible">
  <p>{{formDescription}}</p>
  <form>
    Name: <input type="text" ng-model="tmpPlan.name" /> <br/>
    Description: <input type="text" ng-model="tmpPlan.description" /> <br/>
    Price: <input type="number" ng-model="tmpPlan.price"/> <br/>
    <input type="checkbox" ng-model="tmpPlan.default" /> Default <br/>
    <input type="submit" ng-click="savePlan(tmpPlan)" value="Save" />
  </form>
  <br/>
</div>