<div class="two-page-layout clearfix">
  <div class="sidebar">
    <div class="profile-image-container">
      <img src="/images/default_profile_male.png" alt="Default profile image male">
    </div>
    <div class="sidebar-content">
      <div class="contact-info-section">
          <!-- Location -->
          <div class="contact-info clearfix">
            <span class="glyphicon glyphicon-map-marker contact-info-icon">
            </span>
            <span class="contact-info-data">
              {{ userData.city }}, {{ userData.country }}
            </span>
          </div>
          <!-- Email -->
          <div class="contact-info clearfix">
            <span class="glyphicon glyphicon-envelope contact-info-icon">
            </span>
            <span class="contact-info-data">
              can.goektas@gmail.com
            </span>
          </div>
          <!-- Mobile phone -->
          <div class="contact-info clearfix">
            <span class="glyphicon glyphicon-phone contact-info-icon">
            </span>
            <span class="contact-info-data">
              {{ userData.mobile_phone }}
            </span>
          </div>
        </div>
    </div>
  </div>
  <div class="main-container">
    <div class="main-content">



      <!-- Title -->
      <div class="page-title with-subtitle">
        <h1>{{ userData.first_name }} {{ userData.last_name }}</h1>
        <p>Hello and welcome to my page! Feel free to contact me. :)</p>
      </div>



      <!-- Personal -->
      <div class="page-section">
        <p class="section-title">Personal</p>
        <!-- Birthday -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Birthday</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.date_of_birth | date:'dd.MM.yyyy' }}</p>
          </div>
        </div>
        <!-- Education -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Education</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.university_major }}, {{ userData.university_name }}</p>
          </div>
        </div>
        <!-- Founded startups -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Founded startups</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.founded_company_name }}</p>
          </div>
        </div>
        <!-- Working place -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Working place</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.current_company_name }}</p>
          </div>
        </div>
        <!-- Job position -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Job position</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.current_job_position }}</p>
          </div>
        </div>
        <!-- Interests -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Interests</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.interests }}</p>
          </div>
        </div>
      </div> <!-- Personal information -->



      <!-- JA-YE -->
      <div class="page-section">
        <p class="section-title">JA-YE</p>
        <!-- Program type -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Program type</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.program_type }}</p>
          </div>
        </div>
        <!-- Country of Participation -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Country of Participation</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.country_of_participation }}</p>
          </div>
        </div>
        <!-- Institution -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Institution</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.institution }}</p>
          </div>
        </div>
        <!-- Year of Participation -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Year of Participation</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.year_of_participation }}</p>
          </div>
        </div>
        <!-- Student company name -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Student company name</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.student_company_name }}</p>
          </div>
        </div>
      </div>



      <!-- Alumni -->
      <div class="page-section">
        <p class="section-title">Alumni</p>
        <!-- Member since -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Member since</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.member_since | date:'dd.MM.yyyy' }}</p>
          </div>
        </div>
        <!-- Status -->
        <!--
        <div class="section-row">
          <div class="section-column-left">
            <p>Status</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.active_member }}</p>
          </div>
        </div>
        -->
        <!-- Position -->
        <div class="section-row">
          <div class="section-column-left">
            <p>Position</p>
          </div>
          <div class="section-column-right">
            <p>{{ userData.alumni_position }}</p>
          </div>
        </div>
      </div>


      <!-- Edit -->
      <div class="page-section">
        <button
          name="edit"
          ui-sref="home.profile-update"
          type="button"
          class="btn btn-danger"
          ng-show="isOwner(userData.id)">
          Edit
        </button>
      </div>
    </div> <!-- /main-content -->

  </div> <!-- main-container -->
</div> <!-- /two-page-layout -->
