<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="title">{{userData.first_name}} {{userData.last_name}}</h1>
    <p>City: <b>{{userData.city}}</b></p>
    <p>Country: <b>{{userData.country}} </b></p>
    <p>Birthday: <b>{{userData.date_of_birth}}</b></p>
    <p>Gender: <b>{{userData.gender}}</b></p>
    <p>Program type: <b>{{userData.program_type}}</b></p>
    <p>Country of Participation: <b>{{userData.country_of_participation}}</b></p>
    <p>Institution: <b>{{userData.institution}}</b></p>
    <p>Year of Participation: <b>{{userData.year_of_participation}}</b></p>
    <p>Student company name: <b>{{userData.student_company_name}}</b></p>
  </div>
</div>

<!--
<ui-view/>
-->
<div class="row">
  <div class="col-md-offset-2 col-md-8">

  <!-- Edit -->
  <button
    name="edit"
    ng-click="goToUpdateUser()"
    type="button"
    class="btn btn-danger"
    ng-show="isOwner(userData.id)">
    Edit
  </button>

  </div>
</div>