<div class="jumbotron">
<h1>Sign Up</h1>
<p class="lead">Welcome to the alumni-db-frontend App. Please sign
up.</p>
</div>


<form role="form" ng-submit="handleRegBtnClick(registrationForm)" ng-init="registrationForm = {}">
  <div class="form-group">
    <label>username</label>
    <input type="text" class="form-control" placeholder="Enter username" ng-model="registrationForm.username" required="required">
  </div>
  <div class="form-group">
    <label >email</label>
    <input type="email" class="form-control" placeholder="Enter email" ng-model="registrationForm.email" required="required">
  </div>

  <div class="form-group">
    <label>password</label>
    <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>password confirmation</label>
    <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
