    <div class="panel">
      <!-- Title -->
      <h3>Connect with Alumni</h3>

      <!-- Form -->
      <form
        name="passwordResetForm"
        role="form"
        ng-submit="handleResetBtnClick(passwordResetData)"
        novalidate>

        <!-- Form Validation Massages -->
        <validation-messages form="passwordResetForm"
                              get-messages="formValidationMessages"
                              get-title="farmValidationTitle">
        </validation-messages>

        <!-- Email -->
        <div
          class="form-group has-icon"
          ng-class="{
            'has-success': passwordResetForm.email.$dirty && passwordResetForm.email.$valid,
            'has-error': passwordResetForm.email.$dirty && passwordResetForm.email.$invalid
          }">
          <!-- Label -->
          <label for="email">Email address</label>
          <!-- Input -->
          <input
            type="email"
            name="email"
            ng-model="passwordResetData.email"
            class="form-control"
            placeholder="Email address"
            autofocus="true"
            required />
          <!-- Input icon -->
          <span class="icon-container attach-left">
            <span class="glyphicon glyphicon-user input-icon"></span>
          </span>
          <!-- Feedback icons -->
          <span
            class="icon-container attach-right"
            ng-show="email.$dirty">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <span
            class="icon-container attach-right"
            ng-show="email.$dirty && email.$invalid">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
        </div>

        <!-- Reset button -->
        <button
          name="commit"
          type="submit"
          class="btn btn-lg btn-block btn-alumni"
          value="Reset Password">Reset password</button>
      </form>
    </div>
