<div class="container parent">
  <div class="child">
    <div class="panel">
      <!-- Title -->
      <h3>Connect with Alumni</h3>
      <!-- Form -->
      <form 
        name="signupForm" 
        role="form" 
        ng-submit="signupForm.$valid && handleSignUpBtnClick(signupData)"
        novalidate>

        <!-- Email -->
        <div 
          class="form-group has-icon"
          ng-class="{ 
            'has-success': signupForm.email.$dirty && signupForm.email.$valid, 
            'has-error': signupForm.email.$dirty && signupForm.email.$invalid 
          }">
          <!-- Label -->
          <label for="email">Email address</label>
          <!-- Input -->
          <input 
            type="email" 
            name="email" 
            ng-model="signupData.email" 
            class="form-control" 
            placeholder="Email address"
            autofocus="true" 
            required />
          <!-- Input icon -->
          <span class="icon-container attach-left">
            <span class="glyphicon glyphicon-user input-icon"></span>
          </span> 
          <!-- Feedback icons -->
          <span 
            class="icon-container attach-right"
            ng-show="signupForm.email.$dirty && signupForm.email.$valid">
            <span class="glyphicon glyphicon-ok"></span>
          </span> 
          <span 
            class="icon-container attach-right"
            ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
        </div>

        <!-- Password -->
        <div class="form-group has-icon">
          <!-- Label -->
          <label for="password">Password</label>
          <!-- Input -->
          <input 
            type="password" 
            name="password" 
            ng-model="signupData.password" 
            class="form-control" 
            placeholder="Password" 
            required />
          <!-- Input icon -->
          <span class="icon-container attach-left">
            <span class="glyphicon glyphicon-lock input-icon"></span>
          </span> 
          <!-- Feedback icons 
          <span class="icon-container attach-right">
            <span class="glyphicon glyphicon-ok"></span>
          </span> 
          <span class="icon-container attach-right">
            <span class="glyphicon glyphicon-remove"></span>
          </span> -->
        </div>

        <!-- Password confirmation -->
        <div class="form-group has-icon">
          <!-- Label -->
          <label for="password">Password confirmation</label>
          <!-- Input -->
          <input 
            type="password" 
            name="password" 
            ng-model="signupData.password_confirmation" 
            class="form-control" 
            placeholder="Password confirmation" 
            required />
          <!-- Input icon -->
          <span class="icon-container attach-left">
            <span class="glyphicon glyphicon-lock input-icon"></span>
          </span> 
          <!-- Feedback icons 
          <span class="icon-container attach-right">
            <span class="glyphicon glyphicon-ok"></span>
          </span> 
          <span class="icon-container attach-right">
            <span class="glyphicon glyphicon-remove"></span>
          </span> -->
        </div>

        <!-- Login button -->
        <button 
          name="commit" 
          type="submit" 
          ng-disabled="signupForm.$invalid"
          class="btn btn-lg btn-block btn-alumni" 
          value="Sign Up">Sign Up</button>
      </form>

      <!-- Debug -->
      <div class="form-group">
        signupForm.$valid = <b>{{ signupForm.$valid }}</b><br>
        signupForm.email.$dirty = <b>{{ signupForm.email.$dirty }}</b><br>
        signupForm.email.$valid = <b>{{ signupForm.email.$valid }}</b>
      </div>

    </div>
  </div>
</div>