<div class="container parent">
  <div class="child">
    <div class="panel">
      <!-- Title -->
      <h3>Connect with Alumni</h3>
      <!-- Form -->
      <form 
        name="signinForm"
        role="form" 
        ng-submit="signinForm.$valid && handleSignInBtnClick()"
        novalidate>

        <!-- Email -->
        <div class="form-group has-icon">
          <!-- Label -->
          <label for="email">Email address</label>
          <!-- Input -->
          <input 
            type="email" 
            name="email" 
            ng-model="signinData.email" 
            class="form-control" 
            placeholder="Email address"
            autofocus="true" 
            required />
          <!-- Input icon -->
          <span class="icon-container attach-left">
            <span class="glyphicon glyphicon-user input-icon"></span>
          </span> 
          <!-- Feedback icons 
          <span class="icon-container attach-right">
            <span class="glyphicon glyphicon-ok"></span>
          </span> 
          <span class="icon-container attach-right">
            <span class="glyphicon glyphicon-remove"></span>
          </span> -->
        </div>

        <!-- Password -->
        <div class="form-group has-icon">
          <!-- Label -->
          <label for="password">Password</label>
          <!-- Input -->
          <input 
            type="password" 
            name="password" 
            ng-model="signinData.password" 
            ng-minlength="8" 
            class="form-control" 
            placeholder="Password" 
            required />
          <!-- Input icon -->
          <span class="icon-container attach-left">
            <span class="glyphicon glyphicon-lock input-icon"></span>
          </span> 
          <!-- Feedback icons 
          <span class="icon-container attach-right">
            <span class="glyphicon glyphicon-ok"></span>
          </span> 
          <span class="icon-container attach-right">
            <span class="glyphicon glyphicon-remove"></span>
          </span> -->
        </div>

        <!-- Login button -->
        <button 
          name="commit" 
          type="submit" 
          class="btn btn-lg btn-block btn-alumni" 
          ng-disabled="signinForm.$invalid" 
          value="Log In">Log In</button>

      </form>
      <!-- Footer -->
      <a class="panel-footer" href="#/signup">
        Not a member? <span>Join JA-YE Alumni Europe</span>
      </a>
    </div>
  </div>
</div>