<div class="container splash-parent">
  <div class="splash-child">
    <div class="splash-panel">
      <!-- Title -->
      <h3>Connect with Alumni</h3>
      <!-- Form -->
      <form 
        role="form" 
        ng-submit="handleSignInBtnClick(signinForm)" 
        ng-init="signinForm = {}">

        <!-- Email -->
        <div class="form-group has-icon">
          <!-- Label -->
          <label for="email">Email address</label>
          <!-- Input -->
          <input 
            type="email" 
            name="email" 
            ng-model="signinForm.email" 
            class="form-control" 
            placeholder="Email address" />
          <!-- Input icon -->
          <span class="icon-container attach-left">
            <span class="glyphicon glyphicon-user input-icon"></span>
          </span> 
          <!-- Feedback icons -->
          <span class="icon-container attach-right">
            <span class="glyphicon glyphicon-ok"></span>
          </span> 
          <span class="icon-container attach-right">
            <span class="glyphicon glyphicon-remove"></span>
          </span> 
        </div>

      </form>
      <!-- Footer -->
      <a class="splash-panel-footer" href="#/signup">
        Not a member? <span>Join JA-YE Alumni Europe</span>
      </a>
    </div>
  </div>
</div>